

<div class="col-md-12" id="flight-search-form">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save($event,myForm.value, myForm.valid)">


    <mat-form-field class="example-full-width" style="width:350px">
      <input matInput placeholder="Search Planets" aria-label="State" [matAutocomplete]="auto1" [formControl]="myForm.get('from')" formControlName="from">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let state of filteredFrom | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }} | </span>
          <span style="color:darkgrey">{{ state.population }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>



    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    <br/>




  </form>
</div>
