<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          Flight
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/flight/search']">Search</a><li>
        </ul>
      </li>

      <li><a href="#">About</a></li>
      <li><a href="#">Query</a></li>
      <li><a href="#">Contact </a></li>
    </ul>
  </div>
</nav>
