<div class="padding content-padding row">
  <form class="col-md-12 row" [formGroup]="myForm" novalidate (ngSubmit)="save($event,myForm.value, myForm.valid)">

    <div class="form-group col-md-12">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="User"
               formControlName="user"
          >
      </mat-form-field>
    </div>

    <div class="form-group col-md-12">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Password" type="password"
               formControlName="pass"
          >
      </mat-form-field>
    </div>

    <div class="form-group col-md-12">
      <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </div>
    <br/>


  </form>


</div>


