/*
Bootstrap 3.1 overrides from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/
@import "cmxformTemplate.css";
@import "cmxform.css";


body {
  padding-top: 70px;
  background: red;
}

.login-body{
	background-image:url("../images/login-bg.png");
	    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar-nav>li>a {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom:5px;
}
  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  .selected {
    background-color: #e4f2fb !important;
    border: solid 1px #aed0ea !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.glyphicon-ok {
    color:green;
}
.glyphicon-pencil {
    color:red;
}
.glyphicon-remove {
margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #999;
}
.btnShape{
	padding: 10px 20px 10px 20px !important;
    margin-left: 15px;
	}

.form-width{
	    width: 50%;
    border: 3px solid #ccc;
    border-radius: 15px;
}
.padMarginTop30{
	padding-top:30px;

}
.padLeft20{
	padding-left:20px;
}
.extraWidth{
	width:170px !important;
}
.margTop40{
	    margin-top: 40px;
}

/* remove border between controls */
.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color:#cccccc;
}
.ui-datepicker-div,#ui-datepicker-div {
	z-index:9999 !important;
}
.ele-hide{
	display: none;
}
#nextMilestoneDate,#startDateAddProj,#endDateAddProj,#statusUpdateDate,#phaseUpdateDate{
	cursor:pointer;
}
.modal{
	z-index:9999;
	}
#frm-new-project .bvalidator_errmsg	{
	left: 231px !important;
	z-index:9999;

}
.panelPadding{
	padding: 10px 0px 10px 10px;
	}
.panelPaddingApp{
	padding: 10px 10px 30px 10px;
}
