<div class="col-md-12 searchresults">
  <div class="row" *ngIf="planets">
    <h3>Search Results</h3>

    <h2 class="lead"><strong class="text-danger">{{planets.length}}</strong> results were found for the search..</h2>
  </div>


  <article class="search-result row" *ngFor="let item of planets"
           [ngStyle]="{'border': '5px solid rgba(63,4,172,'+ (item.population/ 100000) +')'}"
    >
    <div class="col-xs-4 col-sm-4 col-md-4">
      <ul class="meta-search">
        <li><i class="glyphicon glyphicon-time icon-time"></i><h4>{{item.population}}</h4></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 excerpet">
      <h3><a href="#" title="">{{item.name}} </a></h3>
      <p>{{item.desc}}</p>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="#" title="Lorem ipsum" class="thumbnail"><img
        style="background-size: contain; height: 90px" src="{{item.flag}}" alt="Lorem ipsum"/></a>
    </div>
    <span class="clearfix border"></span>

  </article>
</div>

